@model FMIS.Models.DieticianDataEntry

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Register Form</title>
    <style>
        #dd, #adddis {
            display: block;
            float: left;
        }
    </style>
    <script>
        $("#cleartext").click(function () {
            $(this).closest('form').find("input[type=text],textarea").val("");
        });
    </script>
</head>
<body>
    @if (ViewBag.email != null)
    {
        <h2> Hello, @ViewBag.email </h2>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Logout" class="btn btn-success pull-right " onclick="location.href='@Url.Action("Logout", "Home")'" />
        </div>
    </div>
    <center>
        <div class="panel panel-success" style="width:40%">
            <div class="panel-heading text-center"> <h4> Dietician Data Entry</h4> </div>
            <div class="panel-body">
                <div style="color:red; "> @ViewBag.Success</div>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>Name :</label> @ViewBag.Name
                        <br />
                    </div>
                    <div class="form-group">
                        <label>Experience :</label>  @ViewBag.Experience
                        <br />
                    </div>
                    @ViewBag.AlreadyExist
                    <div class="form-group">
                        <h3> Disease : </h3>

                        @try
                        {
                            @Html.DropDownListFor(
                                x => x.Disease, ViewBag.dis as SelectList, "Select Type", new { id = "dd", @class = "form-control" })

                        }
                        catch { }
                        <button style="margin-left:10px" name="adddis" class="btn btn-success" type="button" value="adddis" id="adddis" onclick="showdis()">+</button>



                        <br />
                    </div>
                    <script>
                        function showdis() {
                            document.getElementById("da");
                            if (da.style.display === "none") {
                                da.style.display = "block";
                            }
                            else {
                                da.style.display = "none";
                            }
                        }
                    </script>
                    <div id="da" class="form-control" style="height:auto; display:none; padding:10px; border:none">
                        <input class="form-control" type="text" id="adddisease" name="adddisease" placeholder="Add Disease To List" />
                        <button style="margin-top:10px" class="btn btn-success" type="submit">Add Disease</button>

                    </div>
                    <br />
                    <div class="form-group">
                        <label>What To Eat : </label>
                        @*@Html.TextArea("WhatToEat", new { @class = "form-control" })*@
                        @Html.TextAreaFor(m => m.WhatToEat, new { @class = "form-control" })

                        <br /> 
                    </div>
                    <div class="form-group">
                        <label>What To Avoid : </label>
                        @*@Html.TextArea("NotToEat", new { @class = "form-control" })*@
                        @Html.TextAreaFor(m => m.NotToEat, new { @class = "form-control" })
                        <br />
                    </div>

                    <button name="Add" class="btn btn-success" type="submit" value="Add">Add</button>
                    <button name="Search" class="btn btn-success" type="submit" value="Search">Search</button>
                    <button name="Update" class="btn btn-success" type="submit" value="Update">Update</button>
                    <button name="Delete" class="btn btn-success" type="submit" value="Delete">Delete</button>
                    <button id="cleartext" name="Reset" class="btn btn-success" type="reset" value="Reset">Reset</button>
                    <br /> <br />

                    @ViewBag.whatte <br />
                    @ViewBag.notte
                }
            </div>
        </div>
    </center>

</body>
</html>

